.background-image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background-image img {
  position: absolute;
  width: 100%;
  top: -150px;
}

.title {
  position: absolute;
}

.text {
  position: absolute;
}
